@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  

  overflow-x: hidden; /* Prevent horizontal scrolling */
}


@font-face {
  font-family: 'CustomFont';
  src: url('./Fonts/Expressa-Serial-Heavy Extra Bold.ttf') format('truetype');
  /* Add similar rules for other variations of the font (e.g., bold, italic) */
}

.font-custom {
  font-family: 'CustomFont', sans-serif; /* Use the font family name specified in Tailwind config */
}




/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
